<ng-container *ngIf="poolUsageFormManager?.formGroup">
	<form
		[formGroup]="poolUsageFormManager.formGroup"
		(ngSubmit)="onSubmit()"
		class="form_container">
		<fcc-form-container
			class="form_content"
			[title]="'poolUsage.title' | translate"
			[step]="step"
			[totalSteps]="totalSteps">
			<fcc-pool-usage-form
				[countryCode]="poolUsageFormManager.getCountryCode()" />
			<fcc-spinner
				*ngIf="loading"
				class="loading_spinner"
				[diameter]="120"
				color="primary"
				[fixed]="true" />
		</fcc-form-container>

		<fcc-navigation-buttons
			[saving]="saving"
			[step]="step"
			[totalSteps]="totalSteps"
			(previousStep)="previousStep()" />
	</form>
</ng-container>
