<div class="menu-list menu-list-desktop">
	<div class="menu-list_item menu">
		<div class="menu_title mat-headline-4">
			{{ "footer.access" | translate }}
		</div>
		<div class="menu_list list">
			<a class="list_item mat-caption" href="#">
				{{ "footer.myAccount" | translate }}</a
			>
			<a class="list_item mat-caption" href="#">
				{{ "footer.cart" | translate }}</a
			>
			<a class="list_item mat-caption" href="#">
				{{ "footer.favs" | translate }}</a
			>
		</div>
	</div>
	<div class="menu-list_item menu">
		<div class="menu_title mat-headline-4">
			{{ "footer.brand" | translate }}
		</div>
		<div class="menu_list list">
			<a class="list_item mat-caption" href="#">
				{{ "footer.delegations" | translate }}</a
			>
			<a class="list_item mat-caption" href="#">
				{{ "footer.downloadCatalog" | translate }}</a
			>
			<a class="list_item mat-caption" href="#">
				{{ "footer.aboutUs" | translate }}</a
			>
			<a class="list_item mat-caption" href="#">
				{{ "footer.configurators" | translate }}</a
			>
			<a class="list_item mat-caption" href="#">
				{{ "footer.formations" | translate }}</a
			>
			<a class="list_item mat-caption" href="#">
				{{ "footer.faq" | translate }}</a
			>
			<a class="list_item mat-caption" href="#">
				{{ "footer.contact" | translate }}</a
			>
		</div>
	</div>
	<div class="menu-list_item menu">
		<div class="menu_title mat-headline-4">
			{{ "footer.legal" | translate }}
		</div>
		<div class="menu_list list">
			<a class="list_item mat-caption" href="#">{{
				"footer.brand" | translate
			}}</a>
			<a class="list_item mat-caption" href="#">{{
				"footer.cookies" | translate
			}}</a>
			<a class="list_item mat-caption" href="#">{{
				"footer.salesPolicy" | translate
			}}</a>
			<a class="list_item mat-caption" href="#">{{
				"footer.usePolicy" | translate
			}}</a>
			<a class="list_item mat-caption" href="#">{{
				"footer.cookiesPolicy" | translate
			}}</a>
			<a class="list_item mat-caption" href="#">{{
				"footer.privacyPolicy" | translate
			}}</a>
		</div>
	</div>
</div>

<div class="menu-list menu-list-mobile">
	<a class="menu-list_item mat-caption" href="#">
		{{ "footer.contact" | translate }}</a
	>
	<a class="menu-list_item mat-caption" href="#">
		{{ "footer.faq" | translate }}</a
	>

	<a class="menu-list_item mat-caption" href="#">{{
		"footer.salesPolicy" | translate
	}}</a>
	<a class="menu-list_item mat-caption" href="#">{{
		"footer.usePolicy" | translate
	}}</a>
	<a class="menu-list_item mat-caption" href="#">{{
		"footer.cookiesPolicy" | translate
	}}</a>
	<a class="menu-list_item mat-caption" href="#">{{
		"footer.privacyPolicy" | translate
	}}</a>
</div>
